<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="user-scalable=no, width=640">
    <meta charset="utf-8">
    <title>震惊！你家孩子在社交媒体上竟然是这样的……</title>
    <meta name="Copyright" content="holyhilab.com">
    <meta name="description" content="妈妈不在家，双胞胎竟然...">
    <meta property="og:image" content="http://cdn.holyhilab.com/meta.png">
    <meta name="keywords" content="活动、分享">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

    <style>
      #masker{display: none;}
      #loading{  width: 100%;height: 100%;background-color: #ccc;position: relative;z-index: 9999;text-align: center;padding-top: 50%;}
      .wrap{margin:0 auto;position:relative;width:200px;height:0}.ball,.shadow{border-radius:100%;left:0;margin:auto;position:absolute;right:0;top:0}.ball{position:relative;-webkit-animation:ball .3s cubic-bezier(.165,.84,.44,1) infinite alternate;animation:ball .3s cubic-bezier(.165,.84,.44,1) infinite alternate;height:200px;width:200px;overflow:hidden}.shadow{-webkit-animation:shadow .3s cubic-bezier(.165,.84,.44,1) infinite alternate;animation:shadow .3s cubic-bezier(.165,.84,.44,1) infinite alternate;background:#000;bottom:-390px;height:30px;width:200px}.blue .ball,.blue .shadow{-webkit-animation-delay:0;animation-delay:0}@-webkit-keyframes ball{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-150px);transform:translateY(-150px)}}@keyframes ball{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-150px);transform:translateY(-150px)}}@-webkit-keyframes shadow{0%{opacity:.2;-webkit-transform:scale(.75);transform:scale(.75)}100%{opacity:.05;-webkit-transform:scale(1);transform:scale(1)}}@keyframes shadow{0%{opacity:.2;-webkit-transform:scale(.75);transform:scale(.75)}100%{opacity:.05;-webkit-transform:scale(1);transform:scale(1)}}#ling{display:none}
    </style>
  </head>
  <body>
    <img src="http://cdn.holyhilab.com/meta.png" style="width:0px; height:0px; overflow:hidden; display: block;">
    <div id="loading">
      <div class="wrap blue">
        <div class="shadow"></div>
        <img class="ball" src="http://cdn.holyhilab.com/loading.png">
      </div>
      <div class="progress">
        <div class="child"></div>
      </div>
    </div>
    <div id="masker" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      <canvas id="start-img"></canvas>
      <img src="http://cdn.holyhilab.com/loading-tip.png" class="loading-tip">
    </div>
    <div class="video-wrapper js-video-wrapper">
      <div class="video-responsive">
        <video id="video" class="video js-video" 
          webkit-playsinline 
          playsinline
          webkit-playsinline
          playsinline 

          x-webkit-airplay="allow" 
          x5-video-player-type="h5"  
          x5-video-player-fullscreen="true"
          x5-video-orientation="portraint"
          style="object-fit:fill">
          <source src="http://cdn.holyhilab.com/diyiduanshipin.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div id="phone">
      <img src="http://cdn.holyhilab.com/hangup.png" class="left">
      <img src="http://cdn.holyhilab.com/receive.png" class="right animated infinite swing">
    </div>
    <div class="video-wrapper js-video-wrapper-2">
      <div class="video-responsive">
        <video id="video" class="video js-video-2" 
          webkit-playsinline 
          playsinline
          webkit-playsinline
          playsinline 

          x-webkit-airplay="allow" 
          x5-video-player-type="h5"  
          x5-video-player-fullscreen="true"
          x5-video-orientation="portraint">
          <source src="http://cdn.holyhilab.com/second-video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div id="slide">
      <img src="http://cdn.holyhilab.com/move-tip.png" class="move-tip">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="height:191px;margin-top:30px"><img src="http://cdn.holyhilab.com/Text-_0000_1.png"></div>
          <div class="swiper-slide" style="height:407px;margin-top:30px"><img src="http://cdn.holyhilab.com/Text-_0001_2.png"></div>
          <div class="swiper-slide" style="height:407px;margin-top:30px"><img src="http://cdn.holyhilab.com/Text-_0002_3.png"></div>
          <div class="swiper-slide" style="height:263px;margin-top:30px"><img src="http://cdn.holyhilab.com/Text-_0003_4.png"></div>
          <div class="swiper-slide" style="height:47px;margin-top:30px"><img src="http://cdn.holyhilab.com/Text-_0004_5.png"></div>
          <div class="swiper-slide" style="height:263px;margin-top:30px"><img src="http://cdn.holyhilab.com/Text-_0005_6.png"></div>
          <div class="swiper-slide" style="height:263px;margin-top:30px"><img src="http://cdn.holyhilab.com/Text-_0006_7.png"></div>
        </div>
      </div>
      <div class="clouds-wrap">
        <img src="http://cdn.holyhilab.com/cloud1.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud2.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud3.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud4.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud5.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud-bottom.png" class="clouds">
      </div>
      <div class="run-people">
        <img src="http://cdn.holyhilab.com/caodi.png" class="run-people-first">
        <canvas id="run-people-second" class="run-people-second"></canvas>
      </div>
      <div class="before-share">
        <img src="http://cdn.holyhilab.com/congxianzaikaishi.png">
      </div>
      <div class="share-btn-wrap">
        <div class="move-tip2">
          <img src="http://cdn.holyhilab.com/shouzhi2.png">
        </div>
        <div class="share-btn">
          <img src="http://cdn.holyhilab.com/jiesuanniu2.png">
        </div>
      </div>
      <div class="share-mask"></div>
      <div class="share">
        <img src="http://cdn.holyhilab.com/share2.png" alt="">
      </div>
    </div>
    <audio id="ling" src="http://cdn.holyhilab.com/ling.mp3" loop></audio>
    <audio id="slidemusic" src="http://cdn.holyhilab.com/music-fadein.mp3" loop></audio>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  </body>
</html>
